.page-layout {
	display: grid;
	grid-template-columns:23% 1fr;
	grid-template-rows: 10% 1fr;
	justify-content: center;
	row-gap: 1rem;
}

#Menu {
	
	grid-row-start: 1;
	grid-row-end: 3;
	width: 23rem;
	height: 67rem;
	background-color: #D9D9D9;
	border-radius: 20px;
	margin-left: 2.2rem;	
	margin-top:0.6rem;
	outline: 1px solid red;	
}

.layout {

	display: grid;
align-content: space-evenly;
	grid-template-rows: 0.3fr 0.2fr 1fr 0.5fr 0.5fr;
	font-size: 1.2rem;
	row-gap: 0.5rem;
	


}
#circle {
	
	height: 71px;
	width: 71px;
	border-radius: 50%;
	background-color: #8C8787;
}
#infotab {
	font-size: 1.5rem;
	display: flex;
	outline: 1px solid blue;
	
}
#infowords{
	margin-left: 2rem;
}
.tasks {
	display: flex;
	justify-content: space-evenly;
	padding-right: 8.4rem;	
		outline: 1px solid red;
}
#secsctxt {
	display: flex;
	justify-content: space-evenly;
	flex-direction: column;
	padding-left: 3.1rem;
		outline: 1px solid red;
}
#thrdtxt {
	display: flex;
	outline: 1px solid red;
	flex-direction: column;
	padding-left:3.1rem;

}
#fourtxt {
	display: flex;
	flex-direction: column;
	padding-left: 3.1rem;
	outline: 1px solid red;
}
	
.customernm{
	display: grid;
	grid-template-rows: 60% 1fr;
}
.nameofprs {
	outline: 1px solid red;
	width: 45rem;
	height: 4rem;

	font-size: 2rem;
	padding: 0;
	text-align: center;
	margin-left: 13rem;
	margin-bottom: 3rem;
	
}
.amountowed{
	display: flex;
	justify-content: space-evenly;
	font-size: 2rem;
	outline: 1px solid red;
	padding: 0;
	margin: 0;
	margin-bottom:-3rem;
	width: 45rem ;
	height: 5rem;
	margin-left: 13rem;
}
.headingftrans {
  width: 40rem;
	display: flex;
	justify-content: space-around;
	font-size: 1.2rem;
	outline: 1px solid yellow;
	margin-top: 10rem;
	margin-left: 13rem;
	
}
.maintransrec {
  width: 40rem;
	display: flex;
	justify-content: space-around;
	background-color: #D9D9D9;
	margin-left: 13rem;
}